@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Dancing+Script:wght@400;500;700&family=Marhey:wght@300;400;500&display=swap');

html,
#app {
  width: 0;
  padding: 0;
  margin: 0;
  background: #EBECF0;
}

.hidden {
  display: none;
}

.error {
    font-size: 15px;
    color: red;
    font-weight: normal;
    border: 1px solid red;
    width: 100%;
    padding: 3px;
}